/* =============== */
/* BASIC SETUP */
/* =============== */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    
  }
body {
  font-family: "Titillium Web", sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  font-size: 1.6rem;
}

ul li {
  list-style: none;
}

/* heading part  */
h1 {
  font-size: 4.2rem;
  color: #fff;
}

/* =============== */
/* REUSEBLE COMPONENTS */
/* =============== */
.row {
  max-width: 114rem;
  margin: 0 auto;
}
section{
    padding: 8rem 0rem;
}
h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}
h2::after{
    content: "";
    display: block;
    height: .4rem;
    background: #14a58c;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
}
h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;

}
h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;

}

/* button */
.btn:link,
.btn:visited,
.btn {
  background: #333;
  border-bottom: 0.3rem solid #000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin-top: 4.5rem;
  font-size: 1.6rem;
}
/* paragraph */
.little-description{
  font-size: 1.8rem;
  width: 60%;
  margin-left: 20%;  
  line-height: 3rem;
}
/* =============== */
/* hEADER PART START */
/* =============== */
header {
  background: linear-gradient(rgba(134, 80, 155, 0.9), rgba(134, 80, 155, 0.9)),
    url(img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 85vh;
  position: relative;
}
.logo {
  margin-top: 3.5rem;
  width: auto;
  height: 3.5rem;
  float: left;
}

/* main navigation */
.main-nav {
  float: right;
  margin-top: 4.5rem;
}

.main-nav li {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.main-nav li:first-child {
  margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(100, 58, 121, 0);
  padding: 0.6rem 1.6rem;
  border-radius: 0.3rem;
  display: inline-block;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
  background-color: rgba(100, 58, 121, 1);
}
.main-nav li.active a {
  background: rgba(100, 58, 121, 1);
  border-radius: 0.3rem;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.btn-hero:link,
.btn-hero:visited {
  background: #cb7d4b;
  border-color: #b46477;
  
}
/* =============== */
/* hEADER PART END */
/* =============== */


/* =============== */
/* SERVICES PART START */
/* =============== */

.services-section{
    color: #fff;
    text-align: center;
    background: linear-gradient( rgba(23, 194, 163, 0.9),rgba(23, 194, 163, 0.9)), url(img/services-bg.jpg);
    background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.services-icon{
    height: 12rem;
margin-top: 4.5rem;
margin-bottom: 3.5rem;
} 


/* =============== */
/* SERVICES PART END */
/* =============== */


/* =============== */
/* TEAM PART END */
/* =============== */
.team-section {
    background: linear-gradient(rgba(231, 241, 248, 0.9),rgba(231, 241, 248, 0.9)), url(img/team-bg.jpg);
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
    text-align: center
}
.team-section h2 {
    color:#3c4761 ;
}
.team-section h2::after{
    background: #c8d9e5;
}
.team-member{
    margin-top: 4.5rem;
margin-bottom: 4.5rem;
height: 20rem;
width: 20rem;
border-radius: 50%;
}
.team-section h3{
    color: #27283d;
}
.role{
    color: #30bae7;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: 0.6rem;
    display:inline-block
}
.team-section .box p{
    color: #3c4761;
}
.social-link ul{
    margin-top: 4.5rem
}
.social-link ul li{
    display: inline-block;
    margin: 0.5rem;
    ;
}
.social-link ul li a:link{
    color: #fff;
}

.social-link ul li a:link i::before{

    background: #e0ebf3;
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;
    font-size: 2rem;
    padding: 1rem;
    transition: .5s;
}
.social-link ul li a:hover i::before{
    background: #393939;
    transform:rotate(360deg);
    color: #fff;
}


/* =============== */
/* TEAM PART END */
/* =============== */




/* =============== */
/* SKILL PART START */
/* =============== */
.skill-section{
    background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url(img/skill-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center;

}
.skill-section h2,
.skill-section h3{
  color: #3c4761;
}
.skill-section h2::after{
    background: #dfe8ed;
}
.skill-section .box{
    margin-top: 4.5rem;
}
svg.radial-progress circle {
    stroke-width:5 ;

}
svg.radial-progress text{
    fill:#3c4761;
    font-size: 1.5rem;
}
svg.web-design circle{
    stroke: #169cf3;
}
svg.html-css circle{
    stroke: #db89ad ;
}
svg.graphic-design circle{
    stroke: #61d3c2;
}
svg.ui-ux circle{
    stroke: #cb7d4b;
}

/* =============== */
/* SKILL PART END */
/* =============== */


/* =============== */
/* PORTFOLIOP PART START */
/* =============== */

.porfolio-section{
    background: linear-gradient(rgba(255, 221, 153, 0.9),rgba(255, 221, 153, 0.9)),url(img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;

}
.porfolio-section h2{
    color: #514f5a;
}
.porfolio-section h2::after{
 background: #e9ca8e;   
}
.portfolio-filter{
    margin: 4.5rem 0;

}
.portfolio-filter button{
    background:#e9ca8e ;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    text-transform: uppercase;
    color: #514f5a;
    margin: .5rem;
    transition: .5s;

}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow:inset 0 4.3rem .5rem  rgba(60, 71, 97, 0.5);
}

.portfolio-image{
    width: 100%;
    height: 30rem;

}
.porfolio-section .col:nth-child(3){
    margin-left: 0rem;
}

.btn .btn-load-more{
    background: blue;
}

.porfolio-section .mixitup-control-active{
    background: white;
}

/* =============== */
/* PORTFOLIO PART END */
/* =============== */

/* =============== */
/* TESTMONIAL PART START */
/* =============== */

.testmonial-section{
    background:  linear-gradient(rgba(215, 70, 128, 0.9),rgba(215, 70, 128, 0.9)) ,url(img/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
    background-position: center center;
 
}

 
.testmonial-section .little-description{
    color:#fff;
    text-align: center;
}
.testmonial-section .col:nth-child(3){
    margin-left: 0;
}
.testmonial-section .col:nth-child(1),
.testmonial-section .col:nth-child(2){
    margin-top: 8rem;
}
.testmonial-section .col:nth-child(3),
.testmonial-section .col:nth-child(4){
    margin-top: 4rem;
}

.client-photo{
    width: 10rem;
    float: left;
}
.client-photo img{
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.client-review{
    width: 35rem;
    float: left;
}
.client-review p{
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0rem;
    margin-bottom: 2rem;
}
.client-review .role{
    color: gold;
}



/* =============== */
/* TESTMONIAL PART END */
/* =============== */





/* =============== */
/* CONTACT PART START */
/* =============== */

.contact-section{
    text-align: center;
    background:  linear-gradient(rgba(60, 83, 153, 0.9),rgba(60, 83, 153, 0.9)) ,url(img/contact-bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 1%;
}
.contact-section h2::after{
    background: #273a71;
}
.contact-section .little-description{
    color: #fff;
}
.contact-section form{
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%;

}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
    background: #304683;
    border: .1rem solid #304683;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: #fff;
    margin: .5rem 0;
}
.contact-section textarea {
    height: 20rem;
}
.contact-section form ::placeholder{
    color: rgb(248, 248, 248);
    opacity: 1;
}
.btn-submit{
    border: 0;
    border-bottom: .3rem solid 299ec5;
    background:#3591c7 ;

}
.btn-submit:hover{
    cursor: pointer;

}


/* =============== */
/* CONTACT PART END */
/* =============== */



/* =============== */
/* FOOTER PART START */
/* =============== */

.footer-section{
    background: #395091;
    padding: 3rem 0;
    text-align: center;
    border-top: .1rem solid rgb(71, 143, 192);
}
.footer-section li{
    display:inline-block;
    margin: 0 2rem;text-decoration: none;
    
}
.footer-section li a{
    color: #fff;
    text-transform: capitalize;
    font-size: 2.4rem;
    text-decoration: none;
}
.footer-section li:hover a{
color: #3591c7;
}
/* =============== */
/* FOOTER PART END */
/* =============== */


